/* Reset dan gaya body */
* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    color: #fff;
}

/* Header */
.header {
    display: flex;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 40px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.header nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
    align-items: center;
}

.header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.header nav a:hover {
    text-decoration: underline;
}

.header nav a.active {
    color: #80b541;
}

/* Gaya konten utama */
.main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.points-banner {
    background-color: #3c5e3f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-top: -50px;
    margin-bottom: -20px;
}

.points-banner .points {
    font-size: 24px;
    color: #f0c431;
}

/* Menu Tab */
.tab-menu {
    display: flex;
    margin: 20px 0;
}

.tab {
    background-color: #354236;
    color: #7a7a7a;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
}

.tab.active {
    background-color: #3c5e3f;
    color: #fff;
}

/* Konten Tab */
.tab-content {
    display: none;
    width: 100%;
    max-width: 600px;
}

.tab-content.active {
    display: block;
}

/* Opsi Dompet */
.wallet-options {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.wallet-btn {
    padding: 15px;
    width: 1500px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.wallet-btn:hover {
    background-color: #3c5e3f;
    color: #fff;
    transform: scale(1.05);
    border: 1px solid #fff;
}

.wallet-btn.selected {
    background-color: #3c5e3f;
    color: #fff;
    border: 2px solid #80b541;
}

.wallet-logo-text img {
    width: 80px;
    margin-right: 10px;
}

/* Opsi Poin */
.points-options {
    display: flex;
    gap: 5px;
}

.points-options button {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

/* Efek hover untuk pilihan nominal */
.points-options button:hover {
    background-color: #3c5e3f;
    color: #fff;
    transform: scale(1.05);
    border: 1px solid #fff;
}

/* Gaya tombol yang terpilih */
.points-options button.selected {
    background-color: #3c5e3f;
    color: #fff;
    border: 2px solid #80b541;
}

/* Bagian Poin Kustom */

.input {
    position: relative;
    display: flex;
    align-items: center;
}

.currency {
    position: absolute;
    left: 10px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.custom-points {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.custom-points input[type="number"] {
    max-width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-points p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.custom-points button {
    background-color: #3c5e3f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.custom-points button:hover {
    color: #fff;
    transform: scale(1.05);
    border: 1px solid #fff;
}

.custom-points button.selected {
    background-color: #80b541;
    color: #fff;
}

/* Grid Voucher */
.voucher-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    transition: transform 0.2s;
}

.voucher-card {
    background-color: #fff;
    color: #000;
    padding: 15px;
    border-radius: 10px;
}

.voucher-grid :hover{
    transform: scale(1.05);
}

.voucher-link{
    text-decoration: none;
}

.voucher-card h3 {
    font-size: 14px;
}

.voucher-card p {
    color: #f0c431;
}

.voucher-card img {
    width: 100%;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #445442;
    margin-top: auto;
    width: 100%;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ffffff;
    margin: 0 20px;
}

.footer-content img {
    margin-right: 10px;
}

.footer-content span {
    font-size: 18px;
    font-weight: bold;
}
