body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 18px;
    margin-left: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 15px; 
}

.header nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.header nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    text-align: center;
    flex: 1;
}

footer {
    background-color: #445442;
    padding: 40px 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ffffff;
    margin: 0 20px;
}

.footer-content img {
    margin-right: 10px;
}

.footer-content span {
    font-size: 18px;
    font-weight: bold;
}

.mission-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.mission-card {
    background-color: #424242;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    text-align: center;
    position: relative;
}

.mission-card img {
    width: 250px;
    height: 200px;
    border-radius: 8px;
}

.mission-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.mission-card p {
    margin: 5px 0;
    color: gold; 
}

.mission-card button {
    background-color: #445442;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.mission-card button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #3c3c3c;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
